.suo

**/.vs

*.Development.json

**/obj
**/bin

*.sqlproj.user
DeploymentReport.txt
*.dacpac
*.dll
*.pdb
*.publish.sql
*.dbmdl
*.jfm


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
api/GoatSlipsApi/ClientApp/node_modules
api/GoatSlipsApi/ClientApp/.pnp
.pnp.js

# testing
api/GoatSlipsApi/ClientApp/coverage

# production
api/GoatSlipsApi/ClientApp/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.user
*.pubxml

dotnet-tools.json