@import '../../variables';

.homeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekContainer {
    width: 100%;
    display: flex;
    flex-grow: 1;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    overflow-y: clip;
    max-height: 100%;
}

.weekChanger {
    width: 13em;
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
}

.weekHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.weekHeaderHalf {
    width: 50%;
    display: flex;
    justify-content: center;
}
