.cardActions {
    justify-content: right;
}

.modalButtons {
    text-align: right;
}

.cancelButton {
    margin-left: 1em !important;
}

.time {
    display: flex;
    justify-content: center;
}

.content {
    font-size: 24px;
}

.readonlyPropText {
    width: 100%;
}

.readonlyPropTextSpan {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}
