.dayColumn {
    height: 100%;
    flex-basis: calc(100% / 7);
    background-color: #483d8b;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

.dayHeader {
    background-color: #3b7195;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    height: 116px;
}

.dayBody {
    text-align: left;
    padding: 0.4em;
    height: calc(100% - 150px);
    overflow-y: auto;
}
