.cardActions {
    justify-content: right;
}

.cardInput {
    margin-top: 0.4em !important;
}

.timeTextField {
    width: 2em;
}

.timeSection {
    display: flex;
    justify-content: space-evenly;
}
