.projectContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 8px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.projectName {
    width: 250px !important;
    margin-right: 10px;
}

.button {
    margin-left: 10px !important;
}

.modalButtons {
    text-align: right;
}

.full {
    width: 100%;
}

.verticalInputContainer {
    display: flex;
    flex-direction: column;
}

.verticalCenter {
    display: flex;
    align-items: center;
}

.zip {
    flex-basis: 59%;
}

.zipExt {
    flex-basis: 39%;
}

.state {
    width: 73px;
    margin-right: 10px;
}

.address3 {
    display: flex;
}

.textField,
.address3 {
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
}
