.dayColumn {
    height: 100%;
    flex-basis: calc(100% / 7);
    background-color: #483d8b;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}

.dayHeader {
    background-color: #3b7195;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    height: 2.7em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
}

.dayBody {
    text-align: left;
    padding: 0.4em;
    height: calc(100% - 4.7em);
    overflow-y: auto;
}

.dayTotal {
    background-color: #1e7864;
    border-bottom: 2px solid white;
}
