.codeContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 8px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.codeName {
    width: 200px !important;
}

.button {
    margin-left: 10px !important;
}

.modalButtons {
    text-align: right;
}
