$headerHeight: 90px;
$newLaborCodeHeight: 74px;
$newLaborCodeMargin: 5px;

.pageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: $headerHeight;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.codesList {
    max-height: calc(100% - ($headerHeight * 2));
}

.newLaborCodeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $newLaborCodeHeight;
    margin-bottom: $newLaborCodeMargin;
    border: 1px solid grey;
    border-radius: 5px;
}

.laborCodeName {
    width: 250px !important;
}

.addNewLaborCode {
    margin-left: 0.7em !important;
}

.tableContainer {
    $marginBottom: 20px;
    height: calc(100% - $newLaborCodeHeight - $newLaborCodeMargin - $marginBottom);
    margin-bottom: $marginBottom;
    min-width: 500px;
}

.buttonCell {
    width: 0;
}
