@import '../../variables';
@import '../../colors';

.dropdown {
    width: 150px !important;
}

.pageContainer {
    width: 100%;
    height: calc(100vh - $headerHeight);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.tableContainer {
    flex-grow: 1;
    width: 90% !important;
}

.actionBar {
    background-color: $goatBlue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.saveQuerySpan {
    display: flex;
}

.saveQuery,
.saveQuerySpan {
    height: 100%;
}

.padded {
    padding: 20px;
}

.modalButtons {
    text-align: right;
}

.cancelButton {
    margin-left: 1em !important;
}
