@import '../../variables';
@import '../../colors';

.homeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weekContainer {
    width: 100%;
    display: flex;
    flex-grow: 1;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    overflow-y: clip;
    max-height: 100%;
}

.weekChanger {
    display: flex;
    justify-content: space-between;
    padding: 0.2em;
    align-items: center;
}

.weekChangeInput {
    margin-left: 0.2em !important;
    margin-right: 0.2em !important;
}

.weekHeader,
.basicHeader {
    width: 100%;
}

.basicHeader {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.weekHeaderHalf {
    width: 50%;
    display: flex;
    justify-content: center;
}

.squareIconButton {
    width: $headerHeight;
    height: $headerHeight;
    border-radius: 4px !important;
}

.squareIconButtonLong {
    width: 60px;
    height: $headerHeight;
    border-radius: 4px !important;
}

.filteredTotal {
    color: $goatLightBlue;
}

.weekTotal,
.filteredTotal {
    margin-left: 0.2em;
}
